<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDrakRPZZnyiYRYrdNtI5sa-ln_Rl2UoJg</string>
	<key>GCM_SENDER_ID</key>
	<string>233510579068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hopewater</string>
	<key>PROJECT_ID</key>
	<string>hope-water-1945d</string>
	<key>STORAGE_BUCKET</key>
	<string>hope-water-1945d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233510579068:ios:c8f940b298996fa59352f9</string>
	<key>DATABASE_URL</key>
	<string>https://hope-water-1945d-default-rtdb.firebaseio.com</string>
</dict>
</plist>